/* ksoft.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.ksoft-serif{font-family:serif}.ksoft-sans-serif{font-family:sans-serif}.ksoft-cursive{font-family:cursive}.ksoft-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.ksoft-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.ksoft-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.ksoft-table,.ksoft-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.ksoft-table-all{border:1px solid #ccc}
.ksoft-bordered tr,.ksoft-table-all tr{border-bottom:1px solid #ddd}.ksoft-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.ksoft-table-all tr:nth-child(odd){background-color:#fff}.ksoft-table-all tr:nth-child(even){background-color:#f1f1f1}
.ksoft-hoverable tbody tr:hover,.ksoft-ul.ksoft-hoverable li:hover{background-color:#ccc}.ksoft-centered tr th,.ksoft-centered tr td{text-align:center}
.ksoft-table td,.ksoft-table th,.ksoft-table-all td,.ksoft-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.ksoft-table th:first-child,.ksoft-table td:first-child,.ksoft-table-all th:first-child,.ksoft-table-all td:first-child{padding-left:16px}
.ksoft-btn,.ksoft-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.ksoft-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.ksoft-btn,.ksoft-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.ksoft-disabled,.ksoft-btn:disabled,.ksoft-button:disabled{cursor:not-allowed;opacity:0.3}.ksoft-disabled *,:disabled *{pointer-events:none}
.ksoft-btn.ksoft-disabled:hover,.ksoft-btn:disabled:hover{box-shadow:none}
.ksoft-badge,.ksoft-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.ksoft-badge{border-radius:50%}
.ksoft-ul{list-style-type:none;padding:0;margin:0}.ksoft-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.ksoft-ul li:last-child{border-bottom:none}
.ksoft-tooltip,.ksoft-display-container{position:relative}.ksoft-tooltip .ksoft-text{display:none}.ksoft-tooltip:hover .ksoft-text{display:inline-block}
.ksoft-ripple:active{opacity:0.5}.ksoft-ripple{transition:opacity 0s}
.ksoft-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.ksoft-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.ksoft-dropdown-click,.ksoft-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.ksoft-dropdown-hover:hover .ksoft-dropdown-content{display:block}
.ksoft-dropdown-hover:first-child,.ksoft-dropdown-click:hover{background-color:#ccc;color:#000}
.ksoft-dropdown-hover:hover > .ksoft-button:first-child,.ksoft-dropdown-click:hover > .ksoft-button:first-child{background-color:#ccc;color:#000}
.ksoft-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.ksoft-check,.ksoft-radio{width:24px;height:24px;position:relative;top:6px}
.ksoft-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.ksoft-bar-block .ksoft-dropdown-hover,.ksoft-bar-block .ksoft-dropdown-click{width:100%}
.ksoft-bar-block .ksoft-dropdown-hover .ksoft-dropdown-content,.ksoft-bar-block .ksoft-dropdown-click .ksoft-dropdown-content{min-width:100%}
.ksoft-bar-block .ksoft-dropdown-hover .ksoft-button,.ksoft-bar-block .ksoft-dropdown-click .ksoft-button{width:100%;text-align:left;padding:8px 16px}
.ksoft-main,#main{transition:margin-left .4s}
.ksoft-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.ksoft-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.ksoft-bar{width:100%;overflow:hidden}.ksoft-center .ksoft-bar{display:inline-block;width:auto}
.ksoft-bar .ksoft-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.ksoft-bar .ksoft-dropdown-hover,.ksoft-bar .ksoft-dropdown-click{position:static;float:left}
.ksoft-bar .ksoft-button{white-space:normal}
.ksoft-bar-block .ksoft-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.ksoft-bar-block.ksoft-center .ksoft-bar-item{text-align:center}.ksoft-block{display:block;width:100%}
.ksoft-responsive{display:block;overflow-x:auto}
.ksoft-container:after,.ksoft-container:before,.ksoft-panel:after,.ksoft-panel:before,.ksoft-row:after,.ksoft-row:before,.ksoft-row-padding:after,.ksoft-row-padding:before,
.ksoft-cell-row:before,.ksoft-cell-row:after,.ksoft-clear:after,.ksoft-clear:before,.ksoft-bar:before,.ksoft-bar:after{content:"";display:table;clear:both}
.ksoft-col,.ksoft-half,.ksoft-third,.ksoft-twothird,.ksoft-threequarter,.ksoft-quarter{float:left;width:100%}
.ksoft-col.s1{width:8.33333%}.ksoft-col.s2{width:16.66666%}.ksoft-col.s3{width:24.99999%}.ksoft-col.s4{width:33.33333%}
.ksoft-col.s5{width:41.66666%}.ksoft-col.s6{width:49.99999%}.ksoft-col.s7{width:58.33333%}.ksoft-col.s8{width:66.66666%}
.ksoft-col.s9{width:74.99999%}.ksoft-col.s10{width:83.33333%}.ksoft-col.s11{width:91.66666%}.ksoft-col.s12{width:99.99999%}
@media (min-width:601px){.ksoft-col.m1{width:8.33333%}.ksoft-col.m2{width:16.66666%}.ksoft-col.m3,.ksoft-quarter{width:24.99999%}.ksoft-col.m4,.ksoft-third{width:33.33333%}
.ksoft-col.m5{width:41.66666%}.ksoft-col.m6,.ksoft-half{width:49.99999%}.ksoft-col.m7{width:58.33333%}.ksoft-col.m8,.ksoft-twothird{width:66.66666%}
.ksoft-col.m9,.ksoft-threequarter{width:74.99999%}.ksoft-col.m10{width:83.33333%}.ksoft-col.m11{width:91.66666%}.ksoft-col.m12{width:99.99999%}}
@media (min-width:993px){.ksoft-col.l1{width:8.33333%}.ksoft-col.l2{width:16.66666%}.ksoft-col.l3{width:24.99999%}.ksoft-col.l4{width:33.33333%}
.ksoft-col.l5{width:41.66666%}.ksoft-col.l6{width:49.99999%}.ksoft-col.l7{width:58.33333%}.ksoft-col.l8{width:66.66666%}
.ksoft-col.l9{width:74.99999%}.ksoft-col.l10{width:83.33333%}.ksoft-col.l11{width:91.66666%}.ksoft-col.l12{width:99.99999%}}
.ksoft-rest{overflow:hidden}.ksoft-stretch{margin-left:-16px;margin-right:-16px}
.ksoft-content,.ksoft-auto{margin-left:auto;margin-right:auto}.ksoft-content{max-width:980px}.ksoft-auto{max-width:1140px}
.ksoft-cell-row{display:table;width:100%}.ksoft-cell{display:table-cell}
.ksoft-cell-top{vertical-align:top}.ksoft-cell-middle{vertical-align:middle}.ksoft-cell-bottom{vertical-align:bottom}
.ksoft-hide{display:none!important}.ksoft-show-block,.ksoft-show{display:block!important}.ksoft-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.ksoft-auto{max-width:95%}}
@media (max-width:600px){.ksoft-modal-content{margin:0 10px;width:auto!important}.ksoft-modal{padding-top:30px}
.ksoft-dropdown-hover.ksoft-mobile .ksoft-dropdown-content,.ksoft-dropdown-click.ksoft-mobile .ksoft-dropdown-content{position:relative}	
.ksoft-hide-small{display:none!important}.ksoft-mobile{display:block;width:100%!important}.ksoft-bar-item.ksoft-mobile,.ksoft-dropdown-hover.ksoft-mobile,.ksoft-dropdown-click.ksoft-mobile{text-align:center}
.ksoft-dropdown-hover.ksoft-mobile,.ksoft-dropdown-hover.ksoft-mobile .ksoft-btn,.ksoft-dropdown-hover.ksoft-mobile .ksoft-button,.ksoft-dropdown-click.ksoft-mobile,.ksoft-dropdown-click.ksoft-mobile .ksoft-btn,.ksoft-dropdown-click.ksoft-mobile .ksoft-button{width:100%}}
@media (max-width:768px){.ksoft-modal-content{width:500px}.ksoft-modal{padding-top:50px}}
@media (min-width:993px){.ksoft-modal-content{width:900px}.ksoft-hide-large{display:none!important}.ksoft-sidebar.ksoft-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.ksoft-hide-medium{display:none!important}}
@media (max-width:992px){.ksoft-sidebar.ksoft-collapse{display:none}.ksoft-main{margin-left:0!important;margin-right:0!important}.ksoft-auto{max-width:100%}}
.ksoft-top,.ksoft-bottom{position:fixed;width:100%;z-index:1}.ksoft-top{top:0}.ksoft-bottom{bottom:0}
.ksoft-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.ksoft-display-topleft{position:absolute;left:0;top:0}.ksoft-display-topright{position:absolute;right:0;top:0}
.ksoft-display-bottomleft{position:absolute;left:0;bottom:0}.ksoft-display-bottomright{position:absolute;right:0;bottom:0}
.ksoft-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.ksoft-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.ksoft-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.ksoft-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.ksoft-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.ksoft-display-container:hover .ksoft-display-hover{display:block}.ksoft-display-container:hover span.ksoft-display-hover{display:inline-block}.ksoft-display-hover{display:none}
.ksoft-display-position{position:absolute}
.ksoft-circle{border-radius:50%}
.ksoft-round-small{border-radius:2px}.ksoft-round,.ksoft-round-medium{border-radius:4px}.ksoft-round-large{border-radius:8px}.ksoft-round-xlarge{border-radius:16px}.ksoft-round-xxlarge{border-radius:32px}
.ksoft-row-padding,.ksoft-row-padding>.ksoft-half,.ksoft-row-padding>.ksoft-third,.ksoft-row-padding>.ksoft-twothird,.ksoft-row-padding>.ksoft-threequarter,.ksoft-row-padding>.ksoft-quarter,.ksoft-row-padding>.ksoft-col{padding:0 8px}
.ksoft-container,.ksoft-panel{padding:0.01em 16px}.ksoft-panel{margin-top:16px;margin-bottom:16px}
.ksoft-code,.ksoft-codespan{font-family:Consolas,"courier new";font-size:16px}
.ksoft-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.ksoft-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.ksoft-card,.ksoft-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.ksoft-card-4,.ksoft-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.ksoft-spin{animation:ksoft-spin 2s infinite linear}@keyframes ksoft-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.ksoft-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.ksoft-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.ksoft-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.ksoft-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.ksoft-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.ksoft-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.ksoft-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.ksoft-animate-input{transition:width 0.4s ease-in-out}.ksoft-animate-input:focus{width:100%!important}
.ksoft-opacity,.ksoft-hover-opacity:hover{opacity:0.60}.ksoft-opacity-off,.ksoft-hover-opacity-off:hover{opacity:1}
.ksoft-opacity-max{opacity:0.25}.ksoft-opacity-min{opacity:0.75}
.ksoft-greyscale-max,.ksoft-grayscale-max,.ksoft-hover-greyscale:hover,.ksoft-hover-grayscale:hover{filter:grayscale(100%)}
.ksoft-greyscale,.ksoft-grayscale{filter:grayscale(75%)}.ksoft-greyscale-min,.ksoft-grayscale-min{filter:grayscale(50%)}
.ksoft-sepia{filter:sepia(75%)}.ksoft-sepia-max,.ksoft-hover-sepia:hover{filter:sepia(100%)}.ksoft-sepia-min{filter:sepia(50%)}
.ksoft-tiny{font-size:10px!important}.ksoft-small{font-size:12px!important}.ksoft-medium{font-size:15px!important}.ksoft-large{font-size:18px!important}
.ksoft-xlarge{font-size:24px!important}.ksoft-xxlarge{font-size:36px!important}.ksoft-xxxlarge{font-size:48px!important}.ksoft-jumbo{font-size:64px!important}
.ksoft-left-align{text-align:left!important}.ksoft-right-align{text-align:right!important}.ksoft-justify{text-align:justify!important}.ksoft-center{text-align:center!important}
.ksoft-border-0{border:0!important}.ksoft-border{border:1px solid #ccc!important}
.ksoft-border-top{border-top:1px solid #ccc!important}.ksoft-border-bottom{border-bottom:1px solid #ccc!important}
.ksoft-border-left{border-left:1px solid #ccc!important}.ksoft-border-right{border-right:1px solid #ccc!important}
.ksoft-topbar{border-top:6px solid #ccc!important}.ksoft-bottombar{border-bottom:6px solid #ccc!important}
.ksoft-leftbar{border-left:6px solid #ccc!important}.ksoft-rightbar{border-right:6px solid #ccc!important}
.ksoft-section,.ksoft-code{margin-top:16px!important;margin-bottom:16px!important}
.ksoft-margin{margin:16px!important}.ksoft-margin-top{margin-top:16px!important}.ksoft-margin-bottom{margin-bottom:16px!important}
.ksoft-margin-left{margin-left:16px!important}.ksoft-margin-right{margin-right:16px!important}
.ksoft-padding-small{padding:4px 8px!important}.ksoft-padding{padding:8px 16px!important}.ksoft-padding-large{padding:12px 24px!important}
.ksoft-padding-16{padding-top:16px!important;padding-bottom:16px!important}.ksoft-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.ksoft-padding-32{padding-top:32px!important;padding-bottom:32px!important}.ksoft-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.ksoft-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.ksoft-padding-top-64{padding-top:64px!important}.ksoft-padding-top-48{padding-top:48px!important}
.ksoft-padding-top-32{padding-top:32px!important}.ksoft-padding-top-24{padding-top:24px!important}
.ksoft-left{float:left!important}.ksoft-right{float:right!important}
.ksoft-button:hover{color:#000!important;background-color:#ccc!important}
.ksoft-transparent,.ksoft-hover-none:hover{background-color:transparent!important}
.ksoft-hover-none:hover{box-shadow:none!important}
/* Colors */
.ksoft-amber,.ksoft-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.ksoft-aqua,.ksoft-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.ksoft-blue,.ksoft-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.ksoft-light-blue,.ksoft-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.ksoft-brown,.ksoft-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.ksoft-cyan,.ksoft-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.ksoft-blue-grey,.ksoft-hover-blue-grey:hover,.ksoft-blue-gray,.ksoft-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.ksoft-green,.ksoft-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.ksoft-light-green,.ksoft-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.ksoft-indigo,.ksoft-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.ksoft-khaki,.ksoft-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.ksoft-lime,.ksoft-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.ksoft-orange,.ksoft-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.ksoft-deep-orange,.ksoft-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.ksoft-pink,.ksoft-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.ksoft-purple,.ksoft-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.ksoft-deep-purple,.ksoft-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.ksoft-red,.ksoft-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.ksoft-sand,.ksoft-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.ksoft-teal,.ksoft-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.ksoft-yellow,.ksoft-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.ksoft-white,.ksoft-hover-white:hover{color:#000!important;background-color:#fff!important}
.ksoft-black,.ksoft-hover-black:hover{color:#fff!important;background-color:#000!important}
.ksoft-grey,.ksoft-hover-grey:hover,.ksoft-gray,.ksoft-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.ksoft-light-grey,.ksoft-hover-light-grey:hover,.ksoft-light-gray,.ksoft-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.ksoft-dark-grey,.ksoft-hover-dark-grey:hover,.ksoft-dark-gray,.ksoft-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.ksoft-pale-red,.ksoft-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.ksoft-pale-green,.ksoft-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.ksoft-pale-yellow,.ksoft-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.ksoft-pale-blue,.ksoft-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.ksoft-text-amber,.ksoft-hover-text-amber:hover{color:#ffc107!important}
.ksoft-text-aqua,.ksoft-hover-text-aqua:hover{color:#00ffff!important}
.ksoft-text-blue,.ksoft-hover-text-blue:hover{color:#2196F3!important}
.ksoft-text-light-blue,.ksoft-hover-text-light-blue:hover{color:#87CEEB!important}
.ksoft-text-brown,.ksoft-hover-text-brown:hover{color:#795548!important}
.ksoft-text-cyan,.ksoft-hover-text-cyan:hover{color:#00bcd4!important}
.ksoft-text-blue-grey,.ksoft-hover-text-blue-grey:hover,.ksoft-text-blue-gray,.ksoft-hover-text-blue-gray:hover{color:#607d8b!important}
.ksoft-text-green,.ksoft-hover-text-green:hover{color:#4CAF50!important}
.ksoft-text-light-green,.ksoft-hover-text-light-green:hover{color:#8bc34a!important}
.ksoft-text-indigo,.ksoft-hover-text-indigo:hover{color:#3f51b5!important}
.ksoft-text-khaki,.ksoft-hover-text-khaki:hover{color:#b4aa50!important}
.ksoft-text-lime,.ksoft-hover-text-lime:hover{color:#cddc39!important}
.ksoft-text-orange,.ksoft-hover-text-orange:hover{color:#ff9800!important}
.ksoft-text-deep-orange,.ksoft-hover-text-deep-orange:hover{color:#ff5722!important}
.ksoft-text-pink,.ksoft-hover-text-pink:hover{color:#e91e63!important}
.ksoft-text-purple,.ksoft-hover-text-purple:hover{color:#9c27b0!important}
.ksoft-text-deep-purple,.ksoft-hover-text-deep-purple:hover{color:#673ab7!important}
.ksoft-text-red,.ksoft-hover-text-red:hover{color:#f44336!important}
.ksoft-text-sand,.ksoft-hover-text-sand:hover{color:#fdf5e6!important}
.ksoft-text-teal,.ksoft-hover-text-teal:hover{color:#009688!important}
.ksoft-text-yellow,.ksoft-hover-text-yellow:hover{color:#d2be0e!important}
.ksoft-text-white,.ksoft-hover-text-white:hover{color:#fff!important}
.ksoft-text-black,.ksoft-hover-text-black:hover{color:#000!important}
.ksoft-text-grey,.ksoft-hover-text-grey:hover,.ksoft-text-gray,.ksoft-hover-text-gray:hover{color:#757575!important}
.ksoft-text-light-grey,.ksoft-hover-text-light-grey:hover,.ksoft-text-light-gray,.ksoft-hover-text-light-gray:hover{color:#f1f1f1!important}
.ksoft-text-dark-grey,.ksoft-hover-text-dark-grey:hover,.ksoft-text-dark-gray,.ksoft-hover-text-dark-gray:hover{color:#3a3a3a!important}
.ksoft-border-amber,.ksoft-hover-border-amber:hover{border-color:#ffc107!important}
.ksoft-border-aqua,.ksoft-hover-border-aqua:hover{border-color:#00ffff!important}
.ksoft-border-blue,.ksoft-hover-border-blue:hover{border-color:#2196F3!important}
.ksoft-border-light-blue,.ksoft-hover-border-light-blue:hover{border-color:#87CEEB!important}
.ksoft-border-brown,.ksoft-hover-border-brown:hover{border-color:#795548!important}
.ksoft-border-cyan,.ksoft-hover-border-cyan:hover{border-color:#00bcd4!important}
.ksoft-border-blue-grey,.ksoft-hover-border-blue-grey:hover,.ksoft-border-blue-gray,.ksoft-hover-border-blue-gray:hover{border-color:#607d8b!important}
.ksoft-border-green,.ksoft-hover-border-green:hover{border-color:#4CAF50!important}
.ksoft-border-light-green,.ksoft-hover-border-light-green:hover{border-color:#8bc34a!important}
.ksoft-border-indigo,.ksoft-hover-border-indigo:hover{border-color:#3f51b5!important}
.ksoft-border-khaki,.ksoft-hover-border-khaki:hover{border-color:#f0e68c!important}
.ksoft-border-lime,.ksoft-hover-border-lime:hover{border-color:#cddc39!important}
.ksoft-border-orange,.ksoft-hover-border-orange:hover{border-color:#ff9800!important}
.ksoft-border-deep-orange,.ksoft-hover-border-deep-orange:hover{border-color:#ff5722!important}
.ksoft-border-pink,.ksoft-hover-border-pink:hover{border-color:#e91e63!important}
.ksoft-border-purple,.ksoft-hover-border-purple:hover{border-color:#9c27b0!important}
.ksoft-border-deep-purple,.ksoft-hover-border-deep-purple:hover{border-color:#673ab7!important}
.ksoft-border-red,.ksoft-hover-border-red:hover{border-color:#f44336!important}
.ksoft-border-sand,.ksoft-hover-border-sand:hover{border-color:#fdf5e6!important}
.ksoft-border-teal,.ksoft-hover-border-teal:hover{border-color:#009688!important}
.ksoft-border-yellow,.ksoft-hover-border-yellow:hover{border-color:#ffeb3b!important}
.ksoft-border-white,.ksoft-hover-border-white:hover{border-color:#fff!important}
.ksoft-border-black,.ksoft-hover-border-black:hover{border-color:#000!important}
.ksoft-border-grey,.ksoft-hover-border-grey:hover,.ksoft-border-gray,.ksoft-hover-border-gray:hover{border-color:#9e9e9e!important}
.ksoft-border-light-grey,.ksoft-hover-border-light-grey:hover,.ksoft-border-light-gray,.ksoft-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.ksoft-border-dark-grey,.ksoft-hover-border-dark-grey:hover,.ksoft-border-dark-gray,.ksoft-hover-border-dark-gray:hover{border-color:#616161!important}
.ksoft-border-pale-red,.ksoft-hover-border-pale-red:hover{border-color:#ffe7e7!important}.ksoft-border-pale-green,.ksoft-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.ksoft-border-pale-yellow,.ksoft-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.ksoft-border-pale-blue,.ksoft-hover-border-pale-blue:hover{border-color:#e7ffff!important}